:root{
    --textColor: rgba(255, 255, 255, 0.8);
    --backgroundColor: rgba(100, 100, 100, 0.7);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
/*BACKGROUND IMAGES*/
#images{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    transition: filter 1s linear;
}
/*GENERAL*/
.element{
    width: 350px;
    background-color: var(--backgroundColor);
    border-radius: 15px;
    align-content: center;
    text-align: center;
    color: var(--textColor);
    font-family: 'Franklin Gothic Medium';
    margin: 20px auto;
    padding: 10px;
}
/*CLOCK*/
#clock{
    font-size: 30px;
    font-weight: bold;
}

#clock p:last-of-type{
    font-size: 15px;
    margin-top: 5px;
}
/*PASSWORD GENERATOR*/
#password{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
}

label{
    margin-right: 10px;
}

input{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-weight: bold;
}

#generatePassword{
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

#result{
    margin-top: 10px;
    word-break: break-all;
    background-color: rgba(70, 70, 70, 0.2);
    padding: 5px;
    border-radius: 10px;
}
/*WEATHER*/
.currentWeather{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.currentWeather div:first-of-type{
    font-size: 30px;
}

.info{
    text-align: left;
    margin-left: 10px;
}

.forecast{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 15px 5px;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    gap: 5px;
}

.forecast div{
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

/*CUSTOM LINKS*/
#linkSection{
    position: relative;
}

.elementTitle{
    font-size: 20px;
}

#addLink{
    background-color: transparent;
    border: none;
    color: var(--textColor);
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 45px;
}

#links{
    margin-bottom: 10px;
}

#links div{
    width: fit-content;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    align-content: center;
    position: relative;
}

#links div a{
    color: var(--textColor);
    text-decoration: none;
    word-break: break-all;
}

#links div button{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: rgba(128, 128, 128, 0.3);
    color: var(--textColor);
    font-size: 10px;
}

#linkContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundColor);
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
}

#linkForm{
    background-color: gray;
    position: relative;
}

#linkForm input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 5%;
    border-radius: 10px;
    border: none;
}

#linkForm input::placeholder{
    color: var(--textColor);
}

#linkForm button{
    font-weight: bold;
    border: none;
}

#saveLink{
    width: 96%;
    height: 30px;
    border-radius: 10px;
    background-color: var(--textColor);
}

#closeButton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(150, 150, 150);
    color: var(--textColor);
}

@media (min-width: 700px) {
    #content{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .container{
        width: 50%;
        height: 100vh;
    }

    .container .element{
        margin-bottom: 50px;
    }

    #clock{
        margin-left: 70%;
        background-color: rgba(70, 70, 70, 0.2);
        color: white;
    }

    #weather{
        width: 70%;
    }

    #linkSection{
        margin-top: 146px;
        min-width: 300px;
        width: 70%;
    }
}